{% extends "pylims/base.html" %}

{% block title %}Imports{% endblock %}

{% block content_title %}Imports{% endblock %}

{% block content_main %}

    {% if dataimport_list %}
        <ul>
        {% for dataimport in dataimport_list %}
            <li><a href="{% url 'pylims:data_import_detail' dataimport.id %}">{{ dataimport }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No data imports are available.</p>
    {% endif %}

{% endblock %}

{% block content_related %}

    <div class="content-related-actions">
        <h3>User Actions</h3>
        <ul>
            <li>(None yet)</li>
        </ul>
    </div>
    <div class="content-related-actions">
        <h3>Admin Actions</h3>
        <ul>
            <li><a href="{% url 'admin:pylims_dataimport_changelist' %}">Admin View</a></li>
        </ul>
    </div>

{% endblock %}
