{% extends "pylims/base.html" %}

{% block title %}Parameters{% endblock %}

{% block content_title %}Parameters{% endblock %}

{% block content_main %}

    {% if parameter_list %}
        <ul>
        {% for parameter in parameter_list %}
            <li><a href="{% url 'pylims:parameter_detail' parameter.id %}">{{ parameter.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No sample meta keys are available.</p>
    {% endif %}

{% endblock %}

{% block content_related %}

    <div class="content-related-actions">
        <h3>User Actions</h3>
        <ul>
            <li>(None yet)</li>
        </ul>
    </div>
    <div class="content-related-actions">
        <h3>Admin Actions</h3>
        <ul>
            <li><a href="{% url 'admin:pylims_parameter_changelist' %}">Admin View</a></li>
        </ul>
    </div>

{% endblock %}
