{% extends "pylims/base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block content_title %}Project: {{ project.name }}{% endblock %}

{% block content_main %}

    <pre>
        {{ project.as_json }}
    </pre>

    {% include "pylims/sample_table.html" %}

{% endblock %}

{% block content_related %}

    <div class="content-related-actions">
        <h3>User Actions</h3>
        <ul>
            <li>(None yet)</li>
        </ul>
    </div>
    <div class="content-related-actions">
        <h3>Admin Actions</h3>
        <ul>
            <li><a href="{% url 'admin:pylims_project_change' project.id %}">Admin View</a></li>
        </ul>
    </div>

{% endblock %}
