{% extends "pylims/base.html" %}

{% block title %}Samples{% endblock %}

{% block content_title %}Samples{% endblock %}

{% block content_main %}

    {% include "pylims/sample_table.html" %}

{% endblock %}


{% block content_related %}

    <div class="content-related-actions">
        <h3>User Actions</h3>
        <ul>
            <li><a href="{% url 'pylims:sample_create' %}">New Sample</a></li>
            <li><a href="{% url 'pylims:sample_import' %}">Import Samples</a></li>
        </ul>
    </div>
    <div class="content-related-actions">
        <h3>Admin Actions</h3>
        <ul>
            <li><a href="{% url 'admin:pylims_sample_changelist' %}">Admin View</a></li>
        </ul>
    </div>

{% endblock %}
