
{% extends "pylims/base.html" %}

{% block title %}Users{% endblock %}

{% block content_title %}Users{% endblock %}

{% block content_main %}

    {% if user_list %}
        <ul>
        {% for user in user_list %}
            <li><a href="{% url 'pylims:user_detail' user.id %}">{{ user.username }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No users are available.</p>
    {% endif %}

{% endblock %}

{% block content_related %}

    <div class="content-related-actions">
        <h3>User Actions</h3>
        <ul>
            <li>(None yet)</li>
        </ul>
    </div>
    <div class="content-related-actions">
        <h3>Admin Actions</h3>
        <ul>
            <li><a href="{% url 'admin:auth_user_changelist' %}">Admin View</a></li>
        </ul>
    </div>

{% endblock %}
